<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <logger name="org.springframework.jdbc.core.JdbcTemplate" level="DEBUG"/>
    <root level="ERROR">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>